---
BasedOnStyle: Google
Language: Cpp
Standard: c++17
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Left
